[Unit]
Description=Simple Desktop Display Manager
Documentation=man:sddm(1) man:sddm.conf(5)
# Change this if you want to start sddm in a different tty
Conflicts=getty@tty1.service
After=haveged.service gpu-manager.service
Before=ModemManager.service udisks2.service cups.service systemd-logind.service ondemand.service wpa_supplicant.service accounts-daemon.service e2scrub_reap.service grub-common.service systemd-resolved.service zram-config.service upower.service rsyslog.service NetworkManager.service grub-initrd-fallback.service irqbalance.service snapd.service 



# If using tty1 and plymouth, sddm will fail till plymouth stops
# consider using:
## After=plymouth-quit.service
# or to forcefully stop plymouth and start earlier:
## Conflicts=plymouth-quit-wait.service
## After=plymouth-start.service plymouth-quit-wait.service
## OnFailure=plymouth-quit.service

# Ordering
Conflicts=plymouth-quit-wait.service
#After=systemd-user-sessions.service plymouth-start.service plymouth-quit-wait.service plymouth-quit.service systemd-logind.service
OnFailure=plymouth-quit.service

[Service]
# temporary safety check until all DMs are converted to correct
# display-manager.service symlink handling
ExecStartPre=/bin/sh -c '[ "$(cat /etc/X11/default-display-manager 2>/dev/null)" = "/usr/bin/sddm" ]'
ExecStart=/usr/bin/sddm
CPUSchedulingPolicy=rr
CPUSchedulingPriority=70
IOSchedulingClass=1
IOSchedulingPriority=0
LimitRTPRIO=71
LimitRTTIME=infinity
Restart=always
RestartSec=1s
EnvironmentFile=-/etc/default/locale
