Package: sddm-biglinux-changes
Version: 1.0.3-1big6
Depends: x11-xserver-utils, feh, fortunes-min
Architecture: all
Maintainer: Bruno Goncalves <bigbruno@gmail.com>
Section: admin
Priority: optional
Installed-Size:176
Description: Used autorandr from https://github.com/phillipberndt/autorandr to run in sddm, to fix problem with multi monitor, and change another things to make more friendly, and add curious message in boot

